* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* header section start here */
.header{
    background-color: white;
    background-image: url("images/banner/banner3.png");
    width:100%;
    height: 750px;
    
    background-repeat: no-repeat;
}
.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
    text-align: end;
    margin-top: 20px;
}
.banner-contant{
    margin-top: 250px;
}
.banner-title{
    font-size: 65px;
    
    
}
.btn-primary {
    color:black;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background:white;
}
/* header section ends here */

/* failure section start here */
.failures-section{
    display: flex;
    margin-top: 85px;
    gap: 150px;
}
.failure-image{
    width: 350px;
    height: auto;
    margin-left: 50px;
}
.icon{
    color: forestgreen;
}

.failure-content{
    margin-top:110px;
    padding:150px;
    margin-left: 30px;
}
.failures-title{
    font-size: 55px;
}
.failure-description{
    margin-top:10px;
    margin-bottom: 15px;
    line-height: 25px;
    font-size: 18px;

}
.failures-icons{
    line-height:30px ;
    font-size: 16px;
}



/* failure section ends here */